#burger-btn{
  width: 33px;
  height : 33px;
  -webkit-user-select: none;
  user-select: none;
  margin-right: 50px;
  z-index: 1;
}

#burger-btn:hover {
  cursor: pointer;
}

#burger-btn span {
  display: block;
  background-color: var(--color-light-green);
  border-radius: 3px;
  width: 100%;
  height: 4px;
  margin-bottom: 5px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s ease, opacity 0.55s ease;
}

#burger-btn:hover span{
  background-color: var(--color-yellow);
}

#burger-btn span:first-child {
  transform-origin: 0% 0%;
}

#burger-btn span:nth-child(3) {
  transform-origin: 0% 100%;
}

/*ACTIVE*/
#burger-btn.active span{
  background-color: var(--color-dark-green);
}

#burger-btn.active:hover span{
  background-color: var(--color-yellow);
}

#burger-btn.active span:first-child
{
  transform: rotate(45deg) translate(-2px, -3px);
}

#burger-btn.active span:nth-child(2)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#burger-btn.active span:nth-child(3)
{
  transform: rotate(-45deg) translate(0px, 1px);
}


/* MENU */
#burger-menu{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-light-green);
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#burger-menu.active {
  transform: translate(0, 0);
}

.burger-logo {
  position: relative;
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo-dark {
  max-width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* FILTERS */ 
#burgerFilters{
  color: var(--color-dark-green);
  user-select: none;
}

.burger-done{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 25px 50px;
  border-radius: 3px;
  background-color: var(--color-dark-green);
  color: var(--color-yellow);
}


@media (min-width: 768px) { 
  #burger-btn{
    display: none;
  }

 #burger-menu{
  display: none;
  }
}
