.restaurant-card{
    position: relative;
    width: 100%;
    max-width: 525px;
    opacity: 0;
    transform: translateY(-10px);
    animation: popin .6s ease forwards;
}

.restaurant-card.active{
    z-index: 10;
}

@keyframes popin {
    0%{
        opacity: 0;
        transform: translateY(-10px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.euro{
    width: 16px;
    height: 16px;
    transform: rotate(-20deg) translateY(8px);
    margin-left: 4px;
}

.restaurant-card-img{
    overflow: hidden;
    width: 100%;
}

.restaurant-card-img img{
    transition: transform .5s ease;
    width: 100%;
}

.restaurant-card-img:hover img{
    transform: scale(1.2);
}

.restaurant-card-banner{
    position: absolute;
    top: 78%;
    left: 0;
    width: 100%;
    padding: 15px;
    background: linear-gradient(180deg, rgba(19,25,16,0.6) 41%, rgba(19,25,16,1) 100%);
    transition: all .5s cubic-bezier(0.77,0.2,0.05,1.0);
    z-index: 1;
}

.restaurant-card-banner.active{ 
    top: 0;
}

.banner-header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 15%;
}

.details{
    width: 100%;
    height: 85%;
    z-index: 1;
}

.titles h3{
    font-family: 'satoshi', serif;
}

.short-infos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
}

.see-more{
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
}

.see-more:hover{
    cursor: pointer;
}

.see-more::before, .see-more::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 2px;
    background-color: var(--color-white);
    display: inline-block;
    transition: all .35s ease;
}

.see-more::before{
    left: 2px;
    transform: rotate(-45deg);
}

.see-more::after{
    right: 2px;
    transform: rotate(45deg);
}

.see-more.active::before{
    transform: rotate(45deg);
    background-color: var(--color-yellow);
}

.see-more.active::after{
    transform: rotate(-45deg);
    background-color: var(--color-yellow);
}

.restaurant-card-description{
    padding: 32px;
    line-height: 1.5;
}

.details-perso{
    display: flex;
    flex-direction: column;
}

.favorite, .personal-notes{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    height: 100%;
}

.favorite:hover, .personal-notes:hover{
    cursor: pointer;
}

.isFavorite{
    transition: color .35s ease;
}

.personal-notes{
    color: var(--color-yellow);
}

.favorite.isFavorite{
    color: var(--color-red);
}