

.containerCreate {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: satoshi;
    margin-top: 12em;
}
#create-restaurant-form {
    margin-top: 13em;
}
.containerCreateCreate label {
    margin-right: 1.5em;
}

.containerCreate select {
    color: var(--color-dark-green)
}

.containerCreate div {
    margin: .4em 0 .4em 0;
    display: flex;
    flex-direction: column;
}

.containerCreate input {
    height: 2.2em;
    border-radius: 4px;
    color: var(--color-dark-green)
}

#create-restaurant-form #submit {
    margin-top: 1.5em;
    padding: .5em 2em;
    border-radius: 3px;
    color: var(--color-dark-green);
    align-self: center;
    font-family: inherit;
}

.containerCreate button {
    justify-self: center;
}

.containerCreate textarea {
    color: var(--color-dark-green);
}