.landing-page{
    display: flex;
    justify-content: center;
    position: relative;
    margin: 250px auto 0 auto;
    max-width:  1555px;
}

.restaurant-list{
    display: grid;
    width: 100%;
    column-gap: 4px;
    margin-left: 4px;
    margin-right: 4px;
    grid-template-columns: repeat(auto-fit,minmax(400px, 1fr));
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    background-color: var(--color-dark-green);
    z-index: 10;
}

/* FILTERS */
#mainFilters{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 20%;
    min-width: 200px;
    max-width: 500px;
    height: 100vh;
    background-color: var(--color-yellow);
    color: var(--color-dark-green);
    user-select: none;
}

.aside-title{
    font-family: 'satoshi', serif;
    font-size: 25px;
    margin: 150px 0 32px 50px;
}

.aside-filter{
    display: block;
    width: max-content;
    position: relative;
    transition: opacity .35s ease-in-out;
    margin: 16px 0 16px 50px;
}

.aside-filter:hover{
    cursor: pointer;
}

.aside-filter::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: var(--color-dark-green);
    transition: transform .35s ease-in-out;
    transform: scaleX(0);
    transform-origin: right;
}

.aside-filter.active, .aside-filter.in-transition, .aside-filter.clicked{
    opacity: .8;
}

.aside-filter.active::after, .aside-filter.in-transition::after, .aside-filter.clicked::after{
    transform: scaleX(1);
    transform-origin: left;
}

.aside-filter.clicked.active, .aside-filter.clicked.in-transition{
    opacity: 1;
}

.aside-filter.clicked.active::after, .aside-filter.clicked.in-transition::after{
    transform: scaleX(0);
    transform-origin: left;
}

#logo-small{
    max-width: 150px;
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 768px) { 
    .restaurant-list{
        grid-template-columns: 1fr;
        width: fit-content;
        z-index: 0;
    }

    .landing-page{
        justify-content: center;
    }
    
    #mainFilters{
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1040px) { 
    .restaurant-list{
        width: fit-content;
        grid-template-columns: 1fr;
    }
    
    .landing-page{
        justify-content: center;
    }
}

@media (min-width: 1040px) and (max-width: 1455px) { 
    .restaurant-list{
        width: fit-content;
        grid-template-columns: 1fr 1fr;
    }

    .landing-page{
        justify-content: center;
    }
}
