.landing-page{
    display: flex;
    position: relative;
    margin: 300px auto 0;
}

#filters{
    position: -webkit-sticky;
    position: sticky;
    top: 300px;
    width: 20%;
    height: calc(100vh-300px);
    background-color: var(--color-yellow);
}

.restaurant-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
