#user-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-light-green);
  transform: translate(-200vw, 0);
  transition: transform 0.5s ease-out;
  z-index: 2;
}

#user.active svg {
  display: block;
  fill: var(--color-yellow);
  z-index: 25;
}

#user-menu.active + #user.active svg {
  display: block;
  fill: var(--color-dark-green);
}

#user-menu.active + #user.active {
  z-index: 25;
}
#user-menu.active + #user.active:hover svg {
  display: block;
  fill: var(--color-yellow);
}

#user-menu.active {
  transform: translate(0, 0);
  z-index: 25;
}

.user-logo {
  position: relative;
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}

#logo-dark {
  max-width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#content-user h3 {
  color: white;
  margin: 1em;
  font-size: 1.5em;
  font-family: satoshi;
}



#content-user li {
  margin: 0.4em 0 0.3em 3em;
  color: var(--color-dark-green);
  transition: color 300ms ease;
  font-size: 1.1em;
  font-weight: 600;
  box-sizing: content-box;
  
}

#content-user li:hover {
  color: white;
  transition: color 300ms ease;
}

#content-user {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 180px);
}


#favorites {
  overflow-y: scroll;
  margin-top: 1.5em;
}

#favorites .restaurant-card:first-child {
  margin-top: 3em;
}

#favorites .restaurant-card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 1.5em;
  height: 250px;
  width: 400px;
  background-color: var(--color-dark-green);
  z-index: 10;
  flex-wrap: nowrap;
  padding: .5em;
  border-radius: 4px;
}

#favorites img {
  height: 100px;
  border-radius: 4px;
}

#favorites .restaurant-card .description {
  text-overflow: ellipsis;
  margin: 1em;
  color: var(--color-yellow);
  font-size: .9em;
}


#favorites .content .general-infos {
  display: flex;
  flex-direction: column;
  font-family: satoshi;
} 
#favorites .general-infos .short-infos {
  align-items: flex-start;
  margin-top: -2em;
}
#favorites .description {
  max-width: 300px;
}

#favorites .details-perso {
  z-index: 25;
}