   <div id="burger-btn">
    <span></span>
    <span></span>
    <span></span>
  </div>



<div id="burger-menu">
  <div class="burger-logo">
    <img id="logo-dark" src="/images/logo-dark.png" alt="logo">
  </div>

    <div id="burgerFilters" class="filters"> 
        <h3 class="aside-title">Filters</h3>
        <ul> 
            <li id='filter-all' class='aside-filter clicked'>All</li>
            {{#each foodTypes}}
                <li class='aside-filter'>{{capitalize this.name}}</li>
            {{/each}}
        </ul>

        <span class="burger-done">Done</span>
    </div>
</div>

