<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/CSS/main.css">
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANPKT23gDFDb9JdEPnWkrtR4mnV8NM7rk"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{{#each scripts}}
    <script src="/javascripts/{{this}}" type="module"></script>
{{/each}}
<title>KOA</title>