<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/CSS/main.css">
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{{#each scripts}}
    <script src="/javascripts{{this}}" type="module"></script>
{{/each}}
<title>KOA</title>