<div id="logModal">

  <!-- Modal content -->
  <div class="modal-content">
    <span id="close-modal"></span>

      <form action="#">
          <input type="text" placeholder="Email">
          <input type="text" placeholder="Pass">
          <button>Log in</button>
      </form>

      <p>No account yet ? <a href="#">Sign up</a></p>
  </div>

</div>