<form method="POST" action="/admin/users/{{this.id}}">
  <h2>{{this.name}}</h2>
  <div>
    <label for="user">User</label>
    <input
      id="user"
      type="radio"
      {{isSelected this.role "USER" "checked"}}
      value="USER"
      name="role"
    />
  </div>
  <div>
    <label for="admin">Admin</label>
    <input
      id="admin"
      type="radio"
      {{isSelected this.role "ADMIN" "checked"}}
      value="ADMIN"
      name="role"
    />
  </div>
  <button>Submit !</button>
</form>