<link rel="stylesheet" href="/CSS/formsAdmin.css" />
<div class="container">
  <h2>Admin page management </h2>
  <nav><ul>
      <li><a href="admin/restaurants-create">Create Restaurant</a></li>
      <li><a href="admin/restaurants-manage">Manage Restaurants</a></li>
      <li> <a href="admin/users-manage">Manage users</a></li>
    </ul></nav>
</div>