{{> logModal}}

<div class="landing-page">
    <aside id="filters">
        <h3 class="aside-title">Filters</h3>
        <ul> 
            <li id='filter-all' class='aside-filter clicked'>All</li>
            {{#each foodTypes}}
                <li class='aside-filter'>{{capitalize this.name}}</li>
            {{/each}}
        </ul>
        <img id="logo-small" src="/images/logo-small.png" alt="small-logo">
    </aside>
    <section class="restaurant-list">
                <a href="admin/restaurants-create">Create Restaurant</a>
        <a href="admin/restaurants-manage">Manage Restaurants</a>
        <a href="admin/users-manage">Manage users</a>
        {{#each restaurants}}
            {{>restaurantCard this}}
        {{/each}}
    </section>
</div>