<div class="landing-page">
    <aside id="filters">

    </aside>
    <section class="restaurants-list">
        {{#each restaurants}}
            {{>restaurantCard this}}
        {{/each}}
    </section>
</div>