<link rel="stylesheet" href="/CSS/formsAdmin.css" />

<div class="container">
  <div class="restaurants-list">
<h1>List of the restaurants</h1>
<ul>
{{#each restaurants}}
  <li>{{> oneRestaurant this}}</li>
{{/each}}
</ul>
<a href="/admin/">Back admin page</a>
</div>
</div>