<h1>Add a restaurant</h1>
<form method="POST" action="/restaurants/create" enctype="multipart/form-data">
  <h2>Create a restaurant!</h2>
  <div>
    <label for="name">Name</label>
    <input type="text" id="name" name="name" />
  </div>
  <div>
    <label for="address">Adress</label>
    <input type="text" id="adress" name="number" />   
     <input type="text" id="adress" name="street" />
    <input type="text" id="adress" name="city" />
    <input type="text" id="adress" name="zipCode" />
    <input type="text" id="adress" name="country" />
  </div>
  <div>
    <label for="phone">Phone</label>
    <input type="text" id="phone" name="phone" />
  </div>
  <div>
    <label for="rating">Price rating</label>
    <select type="text" id="rating" name="priceRating" >
            <option value="-1" disabled selected >Choose a rate</option>
      <option value="1">1</option>     
       <option value="2">2</option>
      <option value="3">3</option>

    </select>
  </div>
  <div>
    <label for="color">Food type</label>
    <select type="text" id="foodtype" name="foodType" required>
      <option disabled selected>Choose a type</option>
      <option value="Asian">Asian</option>
      <option value="African">African</option>
      <option value="Italian">Ialian</option>
      <option value="French" >French</option>
    </select>
  </div>
  <div>
    <label for="image">Image</label>
    <input id="image" name="image" type="file" />
{{#if erroMsg}}
    <h3>{{erroMsg}}</h3>
{{/if}}
  <button>Submit !</button>
</form>