<<<<<<< HEAD
<link rel="stylesheet" href="/CSS/formsAdmin.css" />
<div class="container">
  <div class="form-admin-restaurant">
    <form
      method="POST"
      action="/admin/restaurants-create"
      enctype="multipart/form-data"
    >
      <div>
        <h2>Create a restaurant!</h2>
        <label for="name">Name</label>
        <input type="text" class="input" name="name" />
        <label for="street">Street</label>
        <input type="text" class="input" name="street" />
        <label for="city">City</label>
        <input type="text" class="input" name="city" />
        <label for="zipCode">Zip code</label>
        <input type="number" class="input" name="zipCode" />
        <label for="country">Country</label>
        <input type="text" class="input" name="country" />
        <label for="phone">Phone</label>
        <input type="text" class="input" name="phone" />
        <label for="rating">Price rating</label>
        <select type="text" class="input" name="priceRating">
          <option value="-1" disabled selected>Choose a price rate</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
        <label for="newFoodtype">Add new food type</label>
        <input id="newFoodtype" type="text" class="input" name="newfoodType" />
        <label for="foodType">Food type</label>

        <select id="foodType" name="foodType">
          {{#each foodTypes}}<option
              class="input"
              value="{{this.name}}"
            >{{this.name}}</option>{{/each}}</select>
        <label for="description">Description</label>
        <textarea name="description" class="input"></textarea>
        <label for="image">Image</label>
        <input class="input" name="image" type="file" />
        {{#if errorMsg}}
          <p class="alert">{{errorMsg}}</p>
        {{/if}}
        <button>Submit !</button>
      </div>
      <a href="/admin/restaurants-manage">Back admin page</a>
    </form>

  </div>

=======
<div class="containerCreate">

  <form id="create-restaurant-form" method="POST" action="/restaurants-create" enctype="multipart/form-data">
    <div>
      <label for="name">Name: </label>
      <input type="text" id="name" name="name" autocomplete="off"/>
    </div>
    <div>
      <label for="address">Adress: </label>
      <input type="adress" class="adress" name="street" id="address" placeholder="Street"/>
      <input type="adress" class="adress" name="city"  placeholder="City"/>
      <input type="adress" class="adress" name="zipCode"  placeholder="Zipcode"/>
      <input type="adress" class="adress" name="country"  placeholder="Country"/>
    </div>
    <div>
      <label for="phone">Phone: </label>
      <input type="telephone" id="phone" name="phone" />
    </div>
    <div>
      <label for="rating">Price rating: </label>
      <select type="text" id="rating" name="priceRating" >
              <option value="-1" disabled selected >Choose a rate</option>
        <option value="1">1</option>     
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>

      </select>
    </div>
    <div>
      <label for="foodType">Food type: </label>
      <select type="text" id="foodtype" name="foodType" required>
        <option disabled selected>Choose a type</option>
        <option value="Asian">Asian</option>
        <option value="African">African</option>
        <option value="Italian">Italian</option>
        <option value="French">French</option>
      </select>
    </div>
    <div>
      <label for="image">Image: </label>
      <input id="image" name="image" type="file" />
      {{#if errorMsg}}
        <h3>{{errorMsg}}</h3>
      {{/if}}
    <button id="submit">Submit</button>
  </form>
>>>>>>> be095623ef2d4abe1933ffb1ce39d2f547929abd
</div>