<link rel="stylesheet" href="/CSS/formsRestaurants.css">
<div class="container">
<h1>Add a restaurant</h1>
<form method="POST" action="/admin/restaurants-create" enctype="multipart/form-data">
  <h2>Create a restaurant!</h2>
  <div>
    <label for="name">Name</label>
    <input type="text" id="name" name="name" />
  </div>
    <div id="address">
    <br/>
    <label for="street">Street</label>
     <input type="text" id="street" name="street" />
         <label for="city">City</label>
    <input type="text" id="city" name="city" />
        <label for="zipCode">Zip code</label>
    <input type="number" id="zipCode" name="zipCode" />
        <label for="country">Country</label>
    <input type="text" id="country" name="country" />
  </div>
  <div>
    <label for="phone">Phone</label>
    <input type="text" id="phone" name="phone" />
  </div>
  <div>
    <label for="rating">Price rating</label>
    <select type="text" id="rating" name="priceRating" >
            <option value="-1" disabled selected >Choose a rate</option>
      <option value="1">1</option>     
       <option value="2">2</option>
      <option value="3">3</option>

    </select>
  </div>
  <div>
    <label for="color">Food type</label>
    <input type="text" id="foodtype" name="foodType" required>
    </input>
  </div>
  <div>
        <label for="description">Description</label>
<textarea name="descritption" id="descritption" ></textarea>
    <label for="image">Image</label>
    <input id="image" name="image" type="file" />
{{#if errorMsg}}
    <h3>{{errorMsg}}</h3>
{{/if}}
  <button>Submit !</button>
</form>
</div>