.container{
    height: 100vh;
    padding-top: 100px;
}
form{
    display: flex;
    align-items: center;
    flex-direction: column;
}
input{
    size: 5;
}
form > div label{
    display: flex;
    align-items: column;
}