 @import url('./stylesheets/burgerMenu.css');
 @import url('./stylesheets/logModal.css');
 @import url('./stylesheets/navbar.css');
 @import url('./stylesheets/landingPage.css');
 @import url('stylesheets/cards.css');
 @import url('./stylesheets/userModal.css');
 
 @font-face {
   font-family: 'zodiak';
   src: url('/fonts/zodiak-regular.woff2');
 }

 @font-face {
  font-family: 'satoshi';
  src: url('/fonts/satoshi-medium.woff2');
}

:root{
  --color-light-green: #21C078;
  --color-dark-green: #131910; 
  --color-white: #cdcdcd;
  --color-yellow: #F5B700;
  --color-red: #B02E0C;
}

*{
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;  
  -webkit-font-smoothing: antialiased;
  color: inherit;
  font-family: inherit;
}

body {
  position: relative;
  background-color: var(--color-dark-green);
  color: var(--color-white);
  font-size: 16px;
  scroll-behavior: smooth;
  font-family: 'zodiak', serif;
}
